---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "The League Attends Navy Gold Coast Event at San Diego Convention Center",
  author: "ericbusboom",
  date: "2016-08-23",
  description: "Lead Teacher Keith Groves along with students Yashwin Madakamutil, Alec Howell and Evan Wright represented The League. The students are pictured talking to...",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-scaled.jpeg",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-200x134.jpeg 200w, https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-400x267.jpeg 400w, https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-600x401.jpeg 600w, https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-800x534.jpeg 800w, https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-1200x801.jpeg 1200w, https://www.jointheleague.org/wp-content/uploads/2016/08/AdobeStock_232421247-scaled.jpeg 2560w",
    sizes: "(max-width: 780px) 100vw, 1200px",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>Lead Teacher Keith Groves along with students Yashwin Madakamutil, Alec Howell and Evan Wright represented The League.  The students are pictured talking to The Honorable Janine A. Davidson, Under Secretary of the Navy who is the 2nd highest ranking civilian official in the Department of the Navy.</p>
    <p><strong>STEM Committee at 2016 Navy Gold Coast<br/>
    </strong></p>
    <p>Gold Coast 2016 was another successful event for NDIA SD Chapter STEM Committee and their Robotic Demonstration at Gold Coast. The kids and their robots seem to always capture Industry and Government attention year after year and this year was no different. The Honorable Janine A. Davidson, Under Secretary of the Navy and Ms. Emily Harman, Director, DON Office of Small Business Programs met with the students and their robots. The Under Secretary of the Navy led the kids over to SPAWAR SSC-Pacific exhibit area to talk with SSC-Pacific engineering staff.</p>
    <p>School Robotic Teams in attendance include; Kearney High School HammerHeads led by John Driego de Dios, San Dieguito High School Academy Paradox, <strong>LEAGUE of Amazing Programmers led by Keith Groves</strong>, Westview High School Team #3341, Francis Parker 2485 WarLords led by Ryan Griggs, Boys and Girls Clubs of greater San Diego Dragons led by Sandra Adarwash, San Ysidro High School Cougarbots led by Carrie Northum, Poway High School Team 1622 and Team Spyder led by Rodger Dohm, Olympic View Elementary School FLL Team 3454 and Chula Vista Elementary School District FLL Team 24238 led by Victoria Wiseman, Gloria McKearney, Mr. and Mrs. Jennings, and Miss MacDonald.</p>
    <p><a href="http://navygoldcoast.org/">Click here for more information about event</a>                       <a href="https://www.flickr.com/photos/143352233@N02/sets/72157670048456363/">Click here for more photos</a></p>
  </Post>
</BaseLayout>
