---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Local Students Create Mobile Crime App",
  author: "ericbusboom",
  date: "2016-11-29",
  description: "Del Mar Times, November 2016",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-scaled.jpeg",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-200x113.jpeg 200w, https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-400x225.jpeg 400w, https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-600x338.jpeg 600w, https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-800x450.jpeg 800w, https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-1200x675.jpeg 1200w, https://www.jointheleague.org/wp-content/uploads/2016/11/AdobeStock_197308139-scaled.jpeg 2560w",
    sizes: "(max-width: 780px) 100vw, 1200px",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>Del Mar Times, November 2016</p>
    <p>High-crime areas are unfortunately becoming a reality.  To help find safe driving routes, a team of students at The League Of Amazing Programmers has created a new app <i>Steer Clear San Diego</i>.  The app computes relative danger of a designated route based on local crime data bases.  Mentored by teacher Site Mao, the app was written by  Ruoya Yan,  Matthew Smith, Ryan Nemiroff, TJ Gascho and Nicholas Contreras as  part of their level 6 “social good” project.</p>
    <p>When asked to describe the project, Yan says “a large set of crime data was provided that tells us individual points of crime that have occurred in San Diego, with the location, time, type of crime, etc.  This data is compiled by our Android app, which computes crime density as a ‘heat map’ over San Diego. By tapping on the screen, you can see specific stats for a precise location, like the ratio of different crime types. You can also find the average crime over a selected route.”</p>
    <p>Smith adds “we are planning on restructuring the data and adding new features…which could take a while.  One of our goals is to get it integrated with Twitter and Facebook so it can search for people posting about crime in San Diego. This will allow us to provide more recent and accurate data to the user.”  The Android mobile app is available in the Google Play App Store by searching “Steer Clear San Diego”.</p>
  </Post>
</BaseLayout>
