---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Self-driving robot competition at the Reuben H. Fleet Science Center",
  author: "ericbusboom",
  date: "2015-06-24",
  description: "La Jolla Patch, 2015",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-scaled.jpeg",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-200x133.jpeg 200w, https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-400x267.jpeg 400w, https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-600x400.jpeg 600w, https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-800x533.jpeg 800w, https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-1200x800.jpeg 1200w, https://www.jointheleague.org/wp-content/uploads/2015/06/AdobeStock_121661213-scaled.jpeg 2560w",
    sizes: "(max-width: 780px) 100vw, 1200px",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p><img alt="" class="alignleft" height="388" loading="lazy" src="https://www.eryary.sautebrandpartners.com/wp-content/uploads/2017/04/Self-driving-robot-competition-at-the-Reuben-H.-Fleet-Science-Center.png" width="300"/>La Jolla Patch, 2015</p>
    <p>“Watch student-designed autonomous robots go through their paces with no human intervention.</p>
    <p>The 8th annual International Autonomous Robot Competition (iARoC) is a friendly competition that will be held at the Reuben H. Fleet Science Center on June 27th &amp; 28th 10am-4pm. Come watch self-driving robots created by student programmers in grade 5-12 compete in mazes, races and special challenges. More information at <a href="http://iaroc.org/" rel="nofollow noopener" target="_blank">iaroc.org</a>.”</p>
    <p><a href="http://patch.com/california/lajolla/self-driving-robot-competition-reuben-h-fleet-science-center">…read more!</a></p>
  </Post>
</BaseLayout>
