---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "FTC Robot Back In Service",
  author: "ericbusboom",
  date: "2024-05-11T20:43:23-07:00",
  description: "The LEAGUE had competed in the FIRST Tech Challenge a few years ago, but as with many traditions, it ended with COVID. However, we\u2019ve now got the robots...",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2024/05/ftc_reactivated.png",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>The LEAGUE had competed in the FIRST Tech Challenge a few  years ago, but as with many traditions, it ended with COVID. However, we’ve now got the robots from the  last competition running again, in preparation for restarting the LEAGUE FTC Team.</p>
  </Post>
</BaseLayout>
