---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Starting a League FIRST Robotics Team",
  author: "ericbusboom",
  date: "2024-05-05T08:32:36-07:00",
  description: "For several years before the pandemic, the LEAGUE had a FIRST Tech Challenge Robotics (FTC) Team, but we have not run it in recent years. FTC is the second...",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Logo-e1714922409548.jpeg",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>For several years before the pandemic, the LEAGUE had a FIRST Tech Challenge Robotics (FTC) Team, but we have not run it in recent years. FTC is the second tier of the FIRST robotics program, easier and less expensive than the top-tier FRC program. Regardless, the challenges are the same and the programming is similar. Here is our fleet of three robots from the last competition we entered in 2022:</p>
    <p><img alt="" class="aligncenter" height="363" loading="lazy" sizes="(max-width: 800px) 100vw, 800px" src="https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-800x363.png" srcset="https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-200x91.png 200w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-300x136.png 300w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-400x182.png 400w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-600x273.png 600w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-768x349.png 768w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-800x363.png 800w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-1024x465.png 1024w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-1200x545.png 1200w, https://www.jointheleague.org/wp-content/uploads/2024/05/FTC-Fleet-1536x698.png 1536w" width="800"/></p>
    <p>And, we’ve had some wins in the past; in 2017, an FTC team at R. Roger Rowe Middle school, in which all of the programmers were LEAGUE students, <a href="https://www.jointheleague.org/2017/02/07/league-students-place-1st-in-first-tech-challenge-robotics-competition/">took a first in regional competition. </a></p>
    <p>Building and running these robots is a competitive team sport, and they are programmed in Java, so your student will not only get a new technical challenge to tackle, but will develop better programming skills along with team camaraderie.</p>
    <p>If you or your student is interested in joining a new robotics team, please fill out the contact form below. This team will be sponsored by The LEAGUE, but we will need a lot of parents to help with mentoring students, contacting sponsors, and many other tasks.</p>
    <h2>Interest Form</h2>
  </Post>
</BaseLayout>
