---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Girls Electrical Engineering Workshop",
  author: "ericbusboom",
  date: "2019-07-20",
  description: "https://www.delmartimes.net/lifestyle/events/story/2019-07-19/league-of-amazing-programmers-offers-electrical-engineering-course",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2019/07/EEDelMarTimes.jpeg",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p><a href="https://www.delmartimes.net/lifestyle/events/story/2019-07-19/league-of-amazing-programmers-offers-electrical-engineering-course">https://www.delmartimes.net/lifestyle/events/story/2019-07-19/league-of-amazing-programmers-offers-electrical-engineering-course</a></p>
  </Post>
</BaseLayout>
