---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "The LEAGUE of Amazing Programmers: Mentoring the Next Generation of Programming",
  author: "ericbusboom",
  date: "2016-12-05",
  description: "By: Sherry Booth Freeman, Ph.D.",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2022/01/logo2.png",
    alt: "A Message from our Executive Director",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2022/01/logo2-500x383.png 1x, https://www.jointheleague.org/wp-content/uploads/2022/01/logo2-500x383@2x.png 2x",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>By: Sherry Booth Freeman, Ph.D.</p>
    <p>NC State Unniversity</p>
    <p><img alt="" class="alignright" height="234" loading="lazy" src="https://www.eryary.sautebrandpartners.com/wp-content/uploads/2017/04/The-LEAGUE-of-Amazing-Programmers-Mentoring-the-Next-Generation-of-Programming-2.jpg" width="300"/>“One of the greatest challenges facing the U.S. technology economy today is a crucial shortage of skilled and trained information technology professionals. While there are currently more than  half a million open jobs across every industry that require computing skills, employers are only able to fill an estimated 30% of the positions. Further, of the positions that are filled there is a near absence of minority groups. The computer science “pipeline problem,” as well as gender and racial disparity in the field bring to light equity issues of access and participation in computer science that must be addressed</p>
    <p><img alt="" class="alignleft" height="200" loading="lazy" src="https://www.eryary.sautebrandpartners.com/wp-content/uploads/2017/04/The-LEAGUE-of-Amazing-Programmers-Mentoring-the-Next-Generation-of-Programming-3.jpg" width="200"/>Vic Wintriss, a former Navy pilot, electrical engineer and owner of three successful electronic manufacturing businesses, is doing his part to address both of those challenges. Ten years ago, Vic and his wife, Diane, formed<a href="https://www.eryary.sautebrandpartners.com/"> The LEAGUE of Amazing Programmers</a> in San Diego, CA. The LEAGUE is a 501c(3) non-profit programming school with a mission of igniting young minds through programming. Providing students with a direct entry path into the workforce is a key mission of the school. Wintriss explains,</p>
    <p><i>“Teaching kids programming helps to address two critical problems: It helps with this country’s computer programmer shortfall, but more importantly, it helps to reduce inequalities in youth outcomes. I believe that the problem of income disparity in this country is in reality an educational problem. Teaching underserved kids programming helps to reduce the barriers that prevent them from achieving their potential in academic and economic realms.”</i></p>
  </Post>
</BaseLayout>
