---
import { aboutHero } from '../../../data/about';

const { title, description, emphasis, image } = aboutHero;
---

<section class="section about-hero">
  <div class="container about-hero__inner">
    <div class="about-hero__content">
      <span class="tag">About</span>
      <h1>{title}</h1>
      <p class="lead">{description}</p>
      <p>{emphasis}</p>
    </div>
    <figure class="about-hero__media">
      <span class="about-hero__blob" aria-hidden="true"></span>
      <img src={image.src} alt={image.alt} loading="lazy" />
    </figure>
  </div>
</section>
