---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Wanted: Intern Robot Builders & 3D Designers",
  author: "ericbusboom",
  date: "2025-06-20T10:25:55-07:00",
  description: "The LEAGUE is developing new robotics classes for younger students, but we currently have more robot parts than we have robot classes. We need some young...",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2025/06/mobile_robots-1.png",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2025/06/mobile_robots-1-200x200.png 200w, https://www.jointheleague.org/wp-content/uploads/2025/06/mobile_robots-1-400x400.png 400w, https://www.jointheleague.org/wp-content/uploads/2025/06/mobile_robots-1-600x600.png 600w, https://www.jointheleague.org/wp-content/uploads/2025/06/mobile_robots-1-800x800.png 800w, https://www.jointheleague.org/wp-content/uploads/2025/06/mobile_robots-1.png 1200w",
    sizes: "(max-width: 780px) 100vw, 1200px",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>The LEAGUE is developing new robotics classes for younger students, but we currently have more robot parts than we have robot classes. We need some young builders to help, by building robots and creating new classes.</p>
    <p>We have multiple kinds of robots, and a lot of ideas for classes. Most of the robots use the Micro:bit controllers, but others are Arduino. We have radio joysticks to control them, servos, grippers and  sonar modules. Some of the parts we’ll attach to them are Lego, but we’ll also be 3D printing new parts. After building some robots, we will find some fun things to do with them.</p>
    <p>The intern’s tasks will include:</p>
    <ul>
    <li>Building robot kits</li>
    <li>Making attachments with Legos</li>
    <li>Designing and printing 3D parts</li>
    <li>Soldering simple electronics parts</li>
    </ul>
    <p>We especially need 3D designers to design attachments for the robots that we can 3D print, for instance a part that connect a servo to the front of our robots. Most of these attachment will involve re-mixing existing designs, but the design will require a lot of creativity.</p>
    <p>Attach Legos and 3D printed grippers to these mobile robots and create competitive games for students.</p>
    <img alt="" height="800" loading="lazy" sizes="(max-width: 780px) 100vw, 600px" src="https://www.jointheleague.org/wp-content/uploads/2025/06/robot_arms-800x800.png" srcset="https://www.jointheleague.org/wp-content/uploads/2025/06/robot_arms-200x200.png 200w, https://www.jointheleague.org/wp-content/uploads/2025/06/robot_arms-400x400.png 400w, https://www.jointheleague.org/wp-content/uploads/2025/06/robot_arms-600x600.png 600w, https://www.jointheleague.org/wp-content/uploads/2025/06/robot_arms-800x800.png 800w, https://www.jointheleague.org/wp-content/uploads/2025/06/robot_arms.png 1200w" title="robot_arms" width="800"/>
    <p>These robot arms need something to do. What tasks can you find for them?</p>
    <h2>How to Apply</h2>
    <p>This unpaid internship is suitable for self-directed builders who are good at tackling projects and sticking with them. We’re looking for students who  have a passion for making things and can demonstrate some of the things they’ve built  Experience with Lego Technics, Arduino, programming, or general tinkering and hacking is preferred.  We will prefer LEAGUE students, but the opportunity is open to anyone. We will prefer students 12 to 14, but students 10 and older can apply.</p>
    <p>The main site is our Robot Garage, a residential workshop in Pacific Beach, but after meeting a few times at the shop, students will get a kit to take home to continue their work. Students should be able to commit at least 40 hours to the work, although times and dates are flexible.</p>
    <p>To apply for this opportunity, the student should send an email to <a href="mailto:eric.busboom@jointheleague.org">eric.busboom@jointheleague.org</a> with this information</p>
    <ul>
    <li>Your name, grade and what school you attend</li>
    <li>CC: your parent on you email</li>
    <li>Describe what you like to build and why</li>
    <li>Pictures of some of the things you’ve built</li>
    </ul>
    <p>Application emails are due Friday, June 27. After the applications are in, I’ll schedule a Zoom meeting interview and selections will be made in the first week of July.</p>
  </Post>
</BaseLayout>
