---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Why Join the League of Amazing Programmers, as told by Stephen Cerruti, Senior Software Developer at Asset Science",
  author: "ericbusboom",
  date: "2014-11-29",
  description: "Assets Science, November 2014",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2022/01/logo2.png",
    alt: "A Message from our Executive Director",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2022/01/logo2-500x383.png 1x, https://www.jointheleague.org/wp-content/uploads/2022/01/logo2-500x383@2x.png 2x",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>Assets Science, November 2014</p>
    <p>I’m passionate about software engineering and I’m passionate about education so I jumped at the chance to become a volunteer teacher at <a href="https://www.eryary.sautebrandpartners.com/">The League of Amazing Programmers.</a></p>
    <p>The League’s mission is to give kids the advantage they need to prepare for science and technology careers of the 21st century. They accomplish this using in person Java programming classes focused on the development of games, social and mobile applications and automated robots.</p>
    <p>I began as a mentor for a robotics team for the League’s annual robotics competition. The students controlled an iRobot Create robotic platform via Java code running on an Android phone. As part of this project the team learned about sensors and motors and other robotics concepts, but their real efforts were in designing algorithms to solve problems.</p>
  </Post>
</BaseLayout>
