---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "League Student Deyvid Diego: Casa de Amistad students receive college scholarships",
  author: "ericbusboom",
  date: "2016-06-08",
  description: "Del Mar Times, June 2016",
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-scaled.jpeg",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-200x133.jpeg 200w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-400x267.jpeg 400w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-600x400.jpeg 600w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-800x533.jpeg 800w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-1200x800.jpeg 1200w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_196875700-scaled.jpeg 2560w",
    sizes: "(max-width: 780px) 100vw, 1200px",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>Del Mar Times, June 2016</p>
    <p>Solana Beach’s Casa de Amistad has long helped local students succeed in school. In an effort to continue to support graduating seniors as they start college, the organization recently launched a scholarship fund.</p>
    <p>“We have a really generous anonymous donor making it possible to support higher education,” said Tiffany Farnsworth, board president of Casa de Amistad, a nonprofit organization that fosters education and character development in local youth. “We’re really honored to be part of distributing that money to the kids who have worked so hard at Casa de Amistad for so long.”</p>
    <p><a href="http://www.delmartimes.net/news/2016/jun/08/casa-de-amistad-scholarship-program/">…read more!</a></p>
  </Post>
</BaseLayout>
