---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "LEAGUE Students Pass Oracle Exam",
  author: "ericbusboom",
  date: "2018-07-02",
  description: null,
  featuredImage: {
    src: "https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-scaled.jpeg",
    srcset: "https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-200x113.jpeg 200w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-400x225.jpeg 400w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-600x338.jpeg 600w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-800x450.jpeg 800w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-1200x675.jpeg 1200w, https://www.jointheleague.org/wp-content/uploads/2018/07/AdobeStock_264920988-scaled.jpeg 2560w",
    sizes: "(max-width: 780px) 100vw, 1200px",
  },
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p><img alt="" height="1650" loading="lazy" src="https://www.eryary.sautebrandpartners.com/wp-content/uploads/2018/07/DM-Times-20180628.jpg" width="1275"/></p>
  </Post>
</BaseLayout>
