---
import BaseLayout from '../../../../../layouts/BaseLayout.astro';
import Post from '../../../../../components/Post.astro';

const post = {
  title: "Summer Science Internships",
  author: "ericbusboom",
  date: "2025-05-01T12:28:41-07:00",
  description: "The Greater San Diego Science and Engineering Fair and the LEAGUE of Amazing Programmers are working together to offer a special version of the LEAGUE\u2019s...",
  featuredImage: null,
};
---
<BaseLayout title={post.title} description={post.description ?? undefined}>
  <Post title={post.title} author={post.author} date={post.date} featuredImage={post.featuredImage}>
    <p>The<a href="https://www.gsdsef.org/"> Greater San Diego Science and Engineering Fair</a> and the<a href="https://www.jointheleague.org/"> LEAGUE of Amazing Programmers</a> are working together to offer a special version of the LEAGUE’s summer internship program, League Labs. Interns will work with professional programmers to develop short classes teaching other students a topic at the intersection of science and computing. Show other student how you built a machine vision algorithm, or how to use an Arduino to measure soil pH, or how to test a hypothesis using Python or R; you can pick almost any topic to turn into a class, as long as there is some software involved.</p>
    <p>To get more information about the Internship and to apply, visit the Internship web page:</p>
    <blockquote><p><a href="https://www.jointheleague.org/league-labs">https://www.jointheleague.org/league-labs</a></p></blockquote>
    <p>The League Labs program starts 1 June, with informational meetings in May.</p>
  </Post>
</BaseLayout>
